In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('review.csv')

In [3]:
df

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...
...,...,...,...,...,...,...,...,...,...,...
568449,568450,B001EO7N10,A28KG5XORO54AY,Lettie D. Carter,0,0,5,1299628800,Will not do without,Great for sesame chicken..this is a good if no...
568450,568451,B003S1WTCU,A3I8AFVPEE8KI5,R. Sawyer,0,0,2,1331251200,disappointed,I'm disappointed with the flavor. The chocolat...
568451,568452,B004I613EE,A121AA1GQV751Z,"pksd ""pk_007""",2,2,5,1329782400,Perfect for our maltipoo,"These stars are small, so you can give 10-15 o..."
568452,568453,B004I613EE,A3IBEVCTXKNOH,"Kathy A. Welch ""katwel""",1,1,5,1331596800,Favorite Training and reward treat,These are the BEST treats for training and rew...
568453,568454,B001LR2CU2,A3LGQPJCZVL9UC,srfell17,0,0,5,1338422400,Great Honey,"I am very satisfied ,product is as advertised,..."

In [4]:
pd.read_excel('https://kptclsldc.in/Transmission%20Outage/2019/APR-2019/16APR2019to22APR2019.xls')

,400/220/110/66 kV TRANSMISSION SYSTEM OUTAGES FROM 16.04.2019 to 22.04.2019,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sl.No.,DATE,Tr_ZONE,Voltage,Line,NaN,Station_Name,NaN,Open_At,Closed_At,Duration,REASON,NaN
2,1,2019-04-16 00:00:00,BAGALKOT,110,NaN,"110/11KV,HV2",NaN,YARAGATTI_110,20:05:00,20:11:00,00:06:00,NaN,TRANSFORMER FAULT
3,2,2019-04-16 00:00:00,BAGALKOT,110,NaN,HUBLI220-KADANKOPPA,NaN,KADANKOPPA_110,10:32:00,13:58:00,03:26:00,NaN,LINE CLEAR AVAILED
4,3,2019-04-16 00:00:00,BAGALKOT,110,NaN,"110/11KV,HV1",NaN,SHIRGOAN_110,08:10:00,09:23:00,01:13:00,NaN,LINE CLEAR AVAILED
...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,471,2019-04-22 00:00:00,TUMKUR,66,NaN,TR-2,NaN,HONNALI_66,09:28:16,10:39:50,01:11:34,NaN,TRANSFORMER FAULT
473,472,2019-04-22 00:00:00,TUMKUR,66,NaN,TR-2,NaN,HONNALI_66,10:50:51,11:36:13,00:45:22,NaN,TRANSFORMER FAULT
474,473,2019-04-22 00:00:00,TUMKUR,66,NaN,TR-1,NaN,LINGDHALLI_66,20:36:56,20:40:53,00:03:57,NaN,TRANSFORMER FAULT
475,474,2019-04-22 00:00:00,TUMKUR,66,NaN,TR-1,NaN,MADHUGIRI_220,16:09:22,17:03:16,00:53:54,NaN,LINE CLEAR AVAILED
476,475,2019-04-22 00:00:00,TUMKUR,66,NaN,THALLAK 220kV- CHALLAKERE 1,NaN,"CHALLAKERE_66, SANIKERE_66",14:57:36,15:26:49,00:29:13,NaN,HAND TRIPPED